@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);



#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #262626;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #1c1c1c;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}
#header4-3 H1 {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 9px;
}
#header4-3 .btn {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
#header4-3 P {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
}
#header4-3 SPAN {
  font-size: 60px;
}
#features1-3 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#contacts2-4 P {
  font-size: 16px;
}
#contacts2-4 UL {
  font-size: 16px;
}
#contacts2-4 STRONG {
  font-size: 18px;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #000000;
}
#content5-9 .mbr-article DIV {
  color: #000000;
}
#features1-13 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #262626;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #1c1c1c;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}
#content5-11 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-11 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-11 .mbr-article {
  color: #000000;
  text-align: left;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #262626;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #1c1c1c;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}


#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-9 .mbr-navbar__section {
  background: #000000;
}
#menu-9 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
#menu-9 .mbr-brand__name a {
  font-family: 'PT Serif', serif;
  font-size: 23px;
}
#menu-9 .mbr-navbar__hamburger {
  color: #a38f84;
}
#content5-49 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-49 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-49 .mbr-article {
  color: #262626;
}
#content5-49 .mbr-article P {
  color: #ffffff;
}
#content5-49 .mbr-article H3 {
  color: #ffffff;
}
#features1-12 .mbr-header__subtext {
  color: #000000;
}
#content5-47 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-article {
  color: #fff;
  text-align: center;
}
#content5-47 .mbr-article H1 {
  text-align: center;
  color: #ffffff;
}
#content5-47 .mbr-article H3 {
  text-align: center;
  color: #ffffff;
}

#header1-29 P {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}
#header1-29 H1 {
  color: #ffffff;
  font-size: 36px;
  font-family: 'PT Serif', serif;
  text-align: center;
}
#content1-23 H1 {
  color: #000000;
}
#content1-25 DIV {
  color: #000000;
}
#content1-27 DIV {
  color: #252525;
}
#features1-15 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #262626;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #1c1c1c;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}

#header1-31 P {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}
#header1-31 H1 {
  color: #ffffff;
  font-size: 36px;
  font-family: 'PT Serif', serif;
}
#features1-36 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #262626;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #1c1c1c;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #000000;
  text-align: left;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #262626;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #1c1c1c;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}
