@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);



#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}
#header4-3 H1 {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 9px;
}
#header4-3 .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
}
#header4-3 P {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
}
#header4-3 SPAN {
  font-size: 60px;
}
#custom-html-10 {
  /* Type valid CSS here */
}
#custom-html-10 div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-10 p {
  font-size: 60px;
  color: #777;
}
#features1-3 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#contacts2-4 P {
  font-size: 16px;
}
#contacts2-4 UL {
  font-size: 16px;
}
#contacts2-4 STRONG {
  font-size: 18px;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #000000;
}
#content5-9 .mbr-article DIV {
  color: #000000;
}
#features1-13 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}
#content5-11 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-11 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-11 .mbr-article {
  color: #000000;
  text-align: left;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}

#header1-29 P {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}
#header1-29 H1 {
  color: #ffffff;
  font-size: 36px;
  font-family: 'PT Serif', serif;
  text-align: center;
}
#content1-23 H1 {
  color: #000000;
}
#content1-25 DIV {
  color: #000000;
}
#content1-27 DIV {
  color: #252525;
}
#features1-15 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-18 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-18 .nav .link,
#dropdown-menu-2btn-18 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-18 .navbar,
#dropdown-menu-2btn-18 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-18 .dropdown-menu a:hover,
#dropdown-menu-2btn-18 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-18 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-j .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-j .nav .link,
#dropdown-menu-2btn-j .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-j .navbar,
#dropdown-menu-2btn-j .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-j .dropdown-menu a:hover,
#dropdown-menu-2btn-j .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-j .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-i .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-i .nav .link,
#dropdown-menu-2btn-i .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-i .navbar,
#dropdown-menu-2btn-i .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-i .dropdown-menu a:hover,
#dropdown-menu-2btn-i .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-i .navbar-toggler {
  color: #ffffff;
}
#header3-l H3 {
  text-align: center;
  font-size: 72px;
}
#dropdown-menu-2btn-h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-h .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-h .nav .link,
#dropdown-menu-2btn-h .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-h .navbar,
#dropdown-menu-2btn-h .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-h .dropdown-menu a:hover,
#dropdown-menu-2btn-h .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-h .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #ffffff;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #000000;
  text-align: left;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}

#header1-31 P {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}
#header1-31 H1 {
  color: #ffffff;
  font-size: 36px;
  font-family: 'PT Serif', serif;
}
#features1-36 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}


#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-9 .mbr-navbar__section {
  background: #000000;
}
#menu-9 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
#menu-9 .mbr-brand__name a {
  font-family: 'PT Serif', serif;
  font-size: 23px;
}
#menu-9 .mbr-navbar__hamburger {
  color: #a38f84;
}
#content5-49 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-49 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-49 .mbr-article {
  color: #262626;
}
#content5-49 .mbr-article P {
  color: #ffffff;
}
#content5-49 .mbr-article H3 {
  color: #ffffff;
}
#features1-12 .mbr-header__subtext {
  color: #000000;
}
#content5-47 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-article {
  color: #fff;
  text-align: center;
}
#content5-47 .mbr-article H1 {
  text-align: center;
  color: #ffffff;
}
#content5-47 .mbr-article H3 {
  text-align: center;
  color: #ffffff;
}
#dropdown-menu-2btn-1k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1k .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-1k .nav .link,
#dropdown-menu-2btn-1k .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-1k .navbar,
#dropdown-menu-2btn-1k .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-1k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1k .dropdown-menu a:hover,
#dropdown-menu-2btn-1k .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-1k .navbar-toggler {
  color: #ffffff;
}
#contacts2-1l P {
  font-size: 16px;
}
#contacts2-1l UL {
  font-size: 16px;
}
#contacts2-1l STRONG {
  font-size: 18px;
}
#dropdown-menu-2btn-1m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1m .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-1m .nav .link,
#dropdown-menu-2btn-1m .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-1m .navbar,
#dropdown-menu-2btn-1m .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-1m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1m .dropdown-menu a:hover,
#dropdown-menu-2btn-1m .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-1m .navbar-toggler {
  color: #ffffff;
}
#contacts2-1n P {
  font-size: 16px;
}
#contacts2-1n UL {
  font-size: 16px;
}
#contacts2-1n STRONG {
  font-size: 18px;
}
